h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

td {
  font-family: Arial, Helvetica, sans-serif;
}

pre {
  font-family: "Courier New", Courier, mono;
}
